{% extends "blog/base.html" %}
{% block content %}
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
            <small class="text-muted">{{ object.date_objected|date:"F j, Y" }}</small>
            {% if object.author == user %}
            <div>
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
            </div>
            {% endif %}
        </div>
        <h2 class="article-title">{{ object.title }}</h2>
        <p class="article-content">{{ object.contents }}</p>
    
        {% if user.is_authenticated %}
            <a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'add_comment_to_post' pk=post.pk %}">Add comment</a>
            <hr>
        {% else %}
            <strong>Comments: {{ post.approved_comments.count }}</strong>
        {% endif %}

        {% if user.is_authenticated %}
            <h3>Comments: {{ post.approved_comments.count }}</h3>
            <br>
        {% endif %}
        {% for comment in post.comments.all %}
            {% if user.is_authenticated and comment.approved_comment %}
            <div class="comment">
                <div class="date">
                    {{ comment.created_date }}
                    {% if not comment.approved_comment %}
                        <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                        <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
                    {% endif %}
                </div>
                <a class="mr-2" href="{% url 'user-posts' comment.author %}">
                    <strong>{{ comment.author }}</strong>
                </a>
                <p>{{ comment.text|linebreaks }}</p>
            </div>
            <hr>
            {% endif %}
            {% empty %}
            <p style="margin: 20px 0px 20px 0px;">Be the first one to comment!</p>
        {% endfor %}
        
    </div>
</article>
{% endblock content %}